<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        table {
            text-align: center;
        }
    
        .sidebar {
            height: 100%;
            /* 100% Full-height */
            width: 0;
            /* 0 width - change this with JavaScript */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Stay on top */
            top: 0;
            left: 0;
            background-color: #111;
            /* Black*/
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 60px;
            /* Place content 60px from the top */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in the sidebar */
        }
    
        /* The sidebar links */
        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 17px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
    
        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #f1f1f1;
        }
    
        /* Position and style the close button (top right corner) */
        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    
        /* The button used to open the sidebar */
        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }
    
        .openbtn:hover {
            background-color: #444;
        }
    
        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
        }
    
        #main2 {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
        }
    
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin: 0;
        }
    
        .navbar {
            transition: margin-left .5s;
            overflow: hidden;
            background-color: rgb(8, 22, 127);
        }
    
        .navbar a {
            float: left;
            font-size: 16px;
            color: rgb(215, 235, 32);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    
        .subnav {
            float: right;
            overflow: hidden;
        }
    
        .subnav .subnavbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: rgb(255, 255, 255);
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }
    
        .navbar a:hover,
        .subnav:hover .subnavbtn {
            background-color: rgb(42, 167, 19);
        }
    
        .subnav-content {
            display: none;
            position: absolute;
            left: 0;
            background-color: purple;
            width: 100%;
            z-index: 1;
        }
    
        .subnav-content a {
            float: right;
            color: black;
            text-decoration: none;
        }
    
        .subnav-content a:hover {
            background-color: #eee;
            color: black;
        }
    
        .subnav:hover .subnav-content {
            display: block;
        }
    </style>
</head>

<body>

    <%- include("includes/navbar.ejs")%>
        <div class="container">
            <div class="row" id="row">
                <div class="col-md-12">
                    <form class="form-horizontal" name="deliverable-form"
                        action="/project/deliverables/create-deliverable" method="POST">
                        <div class="form-group col-sm-3 mb-3">
                            <label for="project_id">Project ID</label>
                            <input type="text" class="form-control" name="project_id" placeholder="Enter ID">
                        </div>
                        <div class="form-group col-sm-3 mb-3">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="Enter Title">
                        </div>
                        <div class="form-group col-sm-3 mb-3">
                            <label for="summary">Summary</label>
                            <input type="text" class="form-control" name="summary" placeholder="Enter Summary">
                        </div>
                        <div class="form-group col-sm-3 mb-3">
                            <label for="delivery_date">Delivery Date</label>
                            <input type="text" class="form-control" name="delivery_date" placeholder="Enter Date">
                        </div>
                        <button type="submit" class="btn btn-primary btn-submit-custom">Submit</button>
                    </form>
                </div>
            </div>
            </script>

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

            <script src="/assets/js/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</body>

</html>