<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .sidebar {
      height: 100%;
      /* 100% Full-height */
      width: 0;
      /* 0 width - change this with JavaScript */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Stay on top */
      top: 0;
      left: 0;
      background-color: #111;
      /* Black*/
      overflow-x: hidden;
      /* Disable horizontal scroll */
      padding-top: 60px;
      /* Place content 60px from the top */
      transition: 0.5s;
      /* 0.5 second transition effect to slide in the sidebar */
    }

    /* The sidebar links */
    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 17px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
      color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    /* The button used to open the sidebar */
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;
    }

    .openbtn:hover {
      background-color: #444;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
      transition: margin-left .5s;
      /* If you want a transition effect */
      padding: 20px;
    }

    #main2 {
      transition: margin-left .5s;
      /* If you want a transition effect */
      padding: 20px;
    }

    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 0;
    }

    .navbar {
      transition: margin-left .5s;
      overflow: hidden;
      background-color: rgb(8, 22, 127);
    }

    .navbar a {
      float: left;
      font-size: 16px;
      color: rgb(215, 235, 32);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .subnav {
      float: right;
      overflow: hidden;
    }

    .subnav .subnavbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: rgb(255, 255, 255);
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar a:hover,
    .subnav:hover .subnavbtn {
      background-color: rgb(42, 167, 19);
    }

    .subnav-content {
      display: none;
      position: absolute;
      left: 0;
      background-color: purple;
      width: 100%;
      z-index: 1;
    }

    .subnav-content a {
      float: right;
      color: black;
      text-decoration: none;
    }

    .subnav-content a:hover {
      background-color: #eee;
      color: black;
    }

    .subnav:hover .subnav-content {
      display: block;
    }
  </style>
</head>

<body>


  <div id="main" class="navbar">
    <a href=""><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="project">Projects</a>
    <a href="researcher">Researchers </a>
    <a href="organization">Organizations</a>
    <a href="program  ">Funding Programs</a>
    <a href="fields">Fields</a>
    <a href="executive">Executives</a>
  </div>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="choose-field">Top Trending Research Field </a>
    <a href="query4">Organizations that received same number of projects (>=10) in 2 consecutive years</a>
    <a href="query5">Top 3 pairs of research fields </a>
    <a href="query6">Young upcoming researchers</a>
    <a href="query7">Top 5 Researchers</a>
    <a href="query8">Researchers with 5 or more projects without deliverables</a>
    <a>
      <table> </table>
    </a>
  </div>

  <div id="main2" style="padding:10 16px">
    <button class="openbtn" onclick="openNav()">&#9776; Top searches</button>
    <h2>More Information</h2>
  </div>
  <script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.getElementById("main2").style.marginLeft = "250px";
    }
    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.getElementById("main2").style.marginLeft = "0";
    } 
  </script>
</body>

</html>