<!DOCTYPE html>
<html>
<style>
    table,
    th,
    td {
        border: 1px solid rgb(191, 21, 21);
    }
</style>

<body>
    <h1 style="background-color: red;">This Header has a red background.</h1>
    <p>This is the first test for our databases assignment. We might use this for testing later. For example <a
            href="https://en.wikipedia.org/wiki/Hyperlink"> this</a> is a hyperlink to a wikipedia article about
        hyperlinks. <br>Now this is a new line. Same paragraph. Cool, I know. <br>
        <a class="btn btn-primary" id="show-btn" href="/fields">Show</a>
    </p>
    <h2 style="background-color: rgb(54, 54, 233);color: red;"> Small Header, blue background. Red text.</h2>
    <p> Now I will add a wondeful image to my collection from my personal files. Hope this is secure! <img
            src="history-2.jpg"> Let's also add an external link! <img
            src="https://www.ece.ntua.gr/themes/ecetheme/assets/images/static_pages/100years/100years-2.jpg" width="300"
            height="200">
    </p>
    <h3>We need tables to diplay information efficiently: </h2>
        <table style="border:3px solid rgb(220, 15, 49);width:50%">
            <tr>
                <th style="border:2px solid black">Company</th>
                <th style="border:2px solid black">CEO</th>
                <th style="border:2px solid black">Number of Projects</th>
            </tr>
            <tr>
                <td>Engineers INC</td>
                <td>Someone without a life</td>
                <td>Too many</td>
            </tr>
            <tr>
                <td>Central Logistics of Banks</td>
                <td>Dildo Swaggins</td>
                <td>1742</td>
            </tr>
            <tr>
                <td>Schism United</td>
                <td>Your mom</td>
            </tr>
        </table>
        <h3>Lists</h3>

        <ul>
            <li>Manos</li>
            <li>Nikitas</li>
            <li>enas astegos</li>
        </ul> Ordered list by declining importance: <ol>
            <li>
                <a href="MANOS.html"> Manos</a>
            </li>
            <li>Nikitas</li>
            <li>enas astegos</li>
            <li style="border:2px solid black;background-color: red;font-family: cursive;width:10%"> 7 billion people
            </li>
            <li>Alex</li>
        </ol>
        <h2>Interactive Javascript </h2>
        <button type="button" onclick="alert('GG WP, you clicked a button. Its after 9.00.')"> Click me to display Date
            and Time.</button>
        <br>
        <button type="button" onclick="document.getElementById('test').innerHTML = Date()"> Click me to display Date and
            Time. For real this time </button>
        <br>
        <p id="test"></p>
        <br>
        <form action="/foo-route">
            <label for="like">How much do you like this site?</label>
            <select name="like" id="like">
                <option value="volvo">A TON!</option>
                <option value="saab">Its good</option>
                <option value="opel">8/10</option>
                <option value="audi">Its too good to be put in a box.</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <p>Click the "Submit" button and the form-data will be sent to a page on the server called "action_page.php".
        </p>
        <br>
        <!DOCTYPE html>
        <h1>The input element</h1>
        <form action="/action_page.js">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname">
            <br>
            <br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <p>Click the "Submit" button and the form-data will be sent to a page on the server called "action_page.php".
        </p>
</body>

</html>